.education{
    background-color: rgb(20, 20, 20);
    padding: 50px;
    text-align: center;
    color: white;
    min-height: 100vh;
}

.education-grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-top: 50px;
    margin-bottom: 50px;
    justify-items: center;
    align-items: center;
    row-gap: 100px;
}

.edu-1{
    text-align: center;
}

p{
    font-weight: bold;
}



.recieved{
    width: 20%;
    display: block;
    margin: auto;
}

