.Skills{
    padding: 50px;
}

.Skills > h1{
    text-align: center;
}

.skill > p{
    color: blue;
}

.Skills > h2{
    color: white;
}

.skill-grid{
    display: grid;
    grid-template-columns: repeat(4,.2fr);
    gap: 30px;
    margin: 60px;
    padding: 20px;
}

.skill{
    background-color: whitesmoke;
    border-radius: 100px;
    color: black;
    text-align: center;
    /*box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;*/
}

@media (max-width: 2000px) {
    .skill-grid{
        grid-template-columns: repeat(1,1fr);
    }
  }
