
/* Font from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@-webkit-keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

/* --------------- Page Component Design -------------- */


body{
 margin: 0;
 padding: 0;
 font-family: 'Source Code Pro', monospace;;
 text-align: center;
 background-color: whitesmoke;
}

p {
  font-family: 'Source Code Pro', monospace;
  text-align: center;
}

.about-grid{
  display: grid;
  grid-template-columns: repeat(1,1fr);
  grid-template-rows: repeat(2,1fr);
  justify-content: center;
  align-items: center;
}

.about{
  background-color: #1F2937;
  color: white;
  padding: 50px;
  line-height: 2;
}

.name > h2{
  color:grey
}

.experience{
  margin-top: 50px;
}

.experience-grid{
  display: grid;
  grid-template-columns: repeat(1,.5fr);
  grid-template-rows:repeat(2,.5fr) ;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.experience-type{
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 15px;
  border-radius: 30px;
}

#expParagraph{
  line-height: 2;
}

.experience-type-2{
  box-shadow: none;
  font-weight: bold;
}


ul{
  line-height: 2;
}

/*  */

.education{
  background-color: #1F2937;
  color: white;
  padding:50px;
}

/* School Cards */

.education-school{
  background-color: white;
  color: #1F2937;
  border-radius: 15px;
  padding: 20px;
}

/* School Cards Container (Grid) */

.education-grid{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  column-gap: 20px;
  padding: 50px 50px 70px 50px 
}

.coursework-containe{
  display: flex;
}

.coursework{
  flex: 1;
  background-color: white;
  color: black;
  padding: 20px;
  width: 50%;
  margin: auto;
  border-radius: 30px;
}

.skills{
  margin:70px 50px 70px 50px;
}

.skill-grid{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(2,1fr);
  column-gap: 20px;
  row-gap: 50px;
  justify-content: center;
}

.skill-grid > .skill-type{
  border-radius: 30px;
  padding-top: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.projects{
  background-color: #1F2937;
  padding: 20px 20px 55px 20px;
}

/* Holds both buttons */

.tabBar{
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
}

/* Buttons to toggle between different project types */

.tabBar > button{
  font-family: 'Source Code Pro', monospace;
  font-size: large;
  font-weight: bold;
  padding: 15px;
  cursor: pointer;
  border-radius: 30px;
  border: 2px solid black;
  background-color: white;
}

/* Changes buttons when hovered */

 .tabBar > button:hover{
  background-color: black;
  color: white;
}

/* Container for each project card type */

.tabs{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  column-gap: 20px;
  text-align: center;
  margin: 30px;
}

/* Project Cards */

.web,.data{
  padding: 20px;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: white;
  line-height: 1.5;
}

/* Button and Butto Changes */

a{
  color: blue;
  font-weight: bold;
}

a:hover{
  text-decoration: none;
}

a:visited{
  color: blueviolet;
  font-weight: bold;
}

li{
  font-size: smaller;
  list-style-type:square;
}

.contact{
  padding: 20px;
}

.website-links{
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(2,.3fr);
  grid-template-rows: repeat(2,.3fr);
  column-gap: 10px;
}

.contact > a{
  color: blue;
}

.contact > a:hover{
  text-decoration: none;
  color: blueviolet;
}

.contact > a:visited{
  color: blue;
}



/* Responsive Changes */

@media (max-width: 1000px) {
  .tabs,.skill-grid,.education-grid { grid-template-columns: repeat(1, 1fr); row-gap: 20px; }
}