
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html{
  margin:0;
  padding:0;
  height: 100%;
  }

body{
  height: 100vh;
}

.flex-container {
  display: flex;
  padding-left: 15px;
  padding-right: 15px;
}


.flex-container-school,.flex-container-project {
  display: flex;
  justify-content: center;
  background-color: rgb(20, 105, 112);
  padding-left: 20px;
  padding-right: 20px;
}

.college,.project{
  flex: 1;
  text-align: center;
  background-color: rgb(238, 238, 238);
  border-radius: 100px;

  /*From : https://getcssscan.com/css-box-shadow-examples*/

  /*box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;*/

  /*box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;*/

  /*box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;*/
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

  padding-left: 10px;
  padding-right: 10px;
} 

.project{
  margin:10px;
  background-color: whitesmoke;
}


.skill{
  flex:1;
  text-align: center;
  padding-left: 5px;;
  padding-right: 5px;
  border-radius: 40px;
  /*box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;*/
  /*box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;*/
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: whitesmoke;
}

.framework{
  text-align: center;
  padding-left: 5px;;
  padding-right: 5px;
  border-radius: 40px;
  width: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  /*box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;*/
  /*box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;*/

  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: whitesmoke;
}


.college:first-child,.skill:first-child{
  margin-right: 20px;
}

.hs {
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: aliceblue;
  border-radius: 50px;
}
.headshot{
  border-radius: 50%;
  overflow: hidden;
}





/* The parallax effect's components */

.parallax{
  background-image: url('/images/360_F_500982846_jo2Fce5rRacxIsX0nHJgoJLrwBm572xA.jpg');
  min-height: 100%;
  min-width: 100%;

  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* Components of the intro section including h1, h2, headshot, and icon links wrapped in a div class */

.icons{
  align-items:center;
  justify-content: center;
  display:flex;
  }


  #name{
    color: rgb(0, 0, 0);
  }
  
  #me{
    color:rgb(20, 105, 112);
  }

  #email,#linkedin,#social{
    margin-left: 20px;
  }

  h1,h2 {
    text-align: center;
    font-family: 'Source Code Pro', monospace;
  }


  /* Changes the font and font weight of any text outside a table or list */

  p {
    font-family: 'Source Code Pro', monospace;
    text-align: center;
    line-height: 2;
  }

  /* Eliminates two lines throughout the table, setting a solid border throughout the table. Different fonts for th and td */

  table,
  th,
  td {
    border-collapse: collapse;
    border: none;
    font-family: 'Source Code Pro', monospace;
    text-align: center;
    line-height: 1.8;
  }

  table{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }

  td{
    padding: 30px;
  }

  th{
    font-family: 'Source Code Pro', monospace;
    font-weight: bolder;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  }

  ul {
    list-style-type:disc;
  }

  /* Similiar to the other sections but the About section has a simple background, different header color, and horizonal line color */

  div{
    background-color: white;
    padding: 15px 0px 15px 0px;
    border-radius: 5px;
  }

  h3{
    text-align: center;
    font-family: 'Source Code Pro', monospace;
  }

  /* Sets a gradient background, aligns text, and leaves space between content and the edge of the section */

  /* Centers the education table */

  #EdTable{
    margin-left: auto;
    margin-right: auto;
  }

  li{
    padding-bottom: 10px;
    font-family: 'Source Code Pro', monospace;
    font-size: smaller;
  }

  hr{
    border: 1.5px  solid;
  }

  footer{
    font-family: 'Source Code Pro', monospace;
    text-align: center;
  }

  .About,.Project,.Education{
    background-color: rgb(20, 105, 112);
    width: 100%;
  }

  .AboutMe,#education{
    font-weight: bold;
    color: white;
  }

  .AboutMe{
    padding-right:20px;
    padding-left: 20px;
  }

  /*
  .intro-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  

  .Intro{
    flex: 1;
    width: 100%;
    min-height: 100vh;
    padding: 0px 5px 0px 5px;
    justify-content: center;
    align-items: center;
    padding: 20px 10px 0px 10px;
  }
*/

/*
.text,.Skill,.WorkExp{
  
}

.body{
  
}
*/